
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: var(--bg-color-red);
  height: 50%;
  width: 95%;
  margin-top: -50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
}

.App {
background-image: url(https://img.freepik.com/premium-photo/sakura-cherry-blossoms-spring-japan-ai-generated-spring-landscape_467123-14239.jpg?w=900);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}


#timer {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
}

#colon {
  display: flex;
  flex-direction: column;

}

.button {
  background-color: rgb(189, 151, 224);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: none;
  margin: 0;
  padding: .8rem 1rem;
  text-decoration-line:
   underline;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 10px 5px 0 5px;
}

.buttons {
  margin-bottom: -20px;
  }

#title {
  color: rgb(255, 255, 255);
  margin-top: -50px;
  
}

.setTime {
  display: flex;
  flex-direction: row;
  margin-bottom: -30px;
  margin-top: 2rem;  
  
}


#breakTime {
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
}

#sessionTime {
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.arrow {
  cursor: pointer;
  font-size: 20px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(189, 151, 224);
  border: none;
  border-radius: 3px;
  color: black;
}

.arrow-left {
  margin-right: 1rem;
}

.arrow-right {
  margin-left: 1rem;
}

#timer-label {
  margin-top: -5px;
  margin-bottom: -1rem;
}

