


.App {
  text-align: center;
  background-color: var(--bg-color-red);
  height: 50%;
  width: 95%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin: 10px 5px 0 5px;
}
