
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: var(--bg-color-red);
  height: 50%;
  width: 95%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  
}

#timer {
  display: flex;
  flex-direction: row;
  color: white;
}

#colon {
  display: flex;
  flex-direction: column;

}

.button {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 0;
  padding: 1rem 2rem;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 10px 5px 0 5px;
}

.buttons {
  margin-bottom: -25px;
  }



#idk {
  margin-top: 20px;
}

#title {
  color: white;
  margin-top: -50px;
  
}

.setTime {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-top: 2rem;  
  
}


#breakTime {
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
}

#sessionTime {
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.arrow {
  cursor: pointer;
  font-size: 20px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: black;
  border: none;
  border-radius: 3px;
}

.arrow-left {
  margin-right: 1rem;
}

.arrow-right {
  margin-left: 1rem;
}

#timer-label {
  margin-top: -5px;
  margin-bottom: -1rem;
}