.todolist {
    color: white;
    height: 25vh;
    width: 35vw;
    margin-top: 100px;
    border-radius: 10px;
    border: solid rgb(135, 53, 53) 5px;
    background-color: rgb(9, 74, 0);
 
}

#To-Do {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#listContainer {
    flex-grow: 1;
    text-align: center;
}

#taskInput {
    text-align: center;
}

/**
    Add if user finishes task
*/
.strikethrough {
    text-decoration: line-through;
}

.listElem {
    display: flex;
    flex-direction: row;
}

.delete {
    margin-left: auto;
    margin-right: 20px;
}

.strike {
    margin-left: auto;
    margin-right: -10px;
}

.li-container{
    display: flex;
    flex-direction: row;
    max-height: 20px;
    
}

.listElem {
    width: 50%;
}

.deleteButton {
    width: 50%;
}
